.custom-font {
  font-size: 12px;
}
input[type="range"]::-webkit-slider-runnable-track {
  /*  styling the track  */
  height: 5px;
  background: #4a94f5;

  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid rgb(15, 53, 242);
}

.container-wrapper {
  background-color: #f0f8ff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 900px;
  margin: 0, auto;
}

.container {
  /* width: 900px; Set maximum width of container */

  /* margin: 0 auto; Center the container horizontally */
  /* background-color: #f0f8ff; Light blue background color */
}
.dColumn {
  background-color: #f0f8ff;
}
.custom-position {
  margin-top: 95px;
}
.c-class {
  margin-top: -45px;
}
