.align-items {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.dropdown1 {
  /* width: 20px; */
}
/* .light-theme {
  --bg-color: #ffffff !important;
  --text-color: #333333 !important;
  --heading-color: #444444 !important;
}
.dark-theme {
  --bg-color: #333333 !important;
  --text-color: #ffffff !important;
  --heading-color: #dddddd !important;
} */

.navbar-clr {
  background-color: #eef4fe;
}
/* .card-title {
  text-decoration: none;
} */
